<div class="bg_c">
<div class="title">
  <div class="title_sub">就活生のためのスケジュール管理アプリ</div>
  <div class="title_main">JobSeeker</div>
</div>
<div class="buttons">
    <%= link_to "サインアップ", new_user_registration_path, :class => "sign_up"%>
    <%= link_to "ログイン", new_user_session_path,:class=>"log_in" %>
</div>
</div>
