<body>
<div class="bg_c">
<div class="wrap">

<h1>編集</h1>

<%= render 'form' %>

<!--<%= link_to 'Show', controller: 'calendar', action: 'index' %> |-->
<%= link_to 'Back', controller: 'calendar', action: 'index' %>

</div>
</div>
</body>
