/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require fullcalendar
 *= require_tree .
 *= require_self
*/
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}

a {
text-decoration: none;
}

table{
  border-collapse: collapse;
}

body{
  font-family:Batang;
}

header{
    width: 100%;
    height: 40px;
    margin-bottom: 40px;
    overflow: hidden;
}

.header_title{
  position: relative;
  float: left;
  height: 40px;
  font-size: 10px;
  line-height: 40px;
  margin-left: 20px;
}

.header_title>h1{
  margin: 0px;
}

.header_info{
  position: relative;
  width:80px;
  height: 40px;
  margin-left: auto;
  line-height: 40px;
}

.header_info > a{
  color: #F2F2F2;
  text-decoration: underline;
}

.bg_c{
position: absolute;
top:0;
left: 0;
width:100%;
height: 1200px;
background: #2b5876; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #2b5876 , #4e4376); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #2b5876 , #4e4376); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: #F2F2F2;
}

.wrap{
margin: 15% 5% 0;
height: 100%;
width: 100%;
}


blockquote.style2 {
  width:50%;
  float: left;
  font: 14px/22px normal helvetica, sans-serif;
  margin-top: 70px;
  margin-bottom: 10px;
  margin-left: 100px;
  padding-left: 10px;
  border-left: 3px solid #ccc;
}

blockquote > span{
  font-family:Batang;
  font-size: 30px;
}

.log__in{
  float: left;

}

.title{
  position: relative;
  display: block;
  height: 10%;
  padding:200px 20px 0px;
  text-align: center;
}

.title_sub{
  display: block;
  height:50px;
  font-size: 30px;
}
.title_main{
  display: block;
  height: 50px;
  font-size: 50px;
}

.buttons{
  color: #F2F2F2;
  overflow: hidden;
  margin:100px 40% 0px;
}

.sign_up{
  display: block;
  width: 80px;
  height:30px;
  padding-top: 10px;
  float: left;
  border: thin solid #F2F2F2;
}

.log_in{
  display: block;
  width: 80px;
  height:30px;
  text-align: center;
  padding-top: 10px;
  margin-left: auto;
  border: thin solid #F2F2F2;
}

.buttons > a{
  color: #F2F2F2;
}

.log_in{
  display: block;

}

.boxContainer {
  margin:0px 5%;
  padding-bottom:5%;
	overflow: hidden;
}

.box {
  margin-right: 10%;
  width:40%;
  min-height: 50px;
  height: auto !important;
  height: 50px;
	float: left;
}

table{
  font-size: 20px;
}

td{
  margin:5px auto 5px auto;
  padding:0 7px 7px 7px;
}

/* clearfix */
.boxContainer:before,
.boxContainer:after {
    content: "";
    display: table;
}

.boxContainer:after {
    clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
.boxContainer {
    zoom: 1;
}

.comp_list{
  height: 35px;
  font-size:25px;
}

.box > p{
  margin: 3px;
}

.inner_list{
  display: block;
  font-size: 20px;
  margin-left:5%;
  margin-bottom: 3%;
}

.plus_icon{
  display: block;
  margin-left: 30%;
  margin-top: 10%;
}

.calendar{
  width:50%;
  margin-left: auto;
  float: left;
}
